<div class="contato-container">
	<div class="contato-visualizar-editar">
		<form name="contatoItem" novalidate>
		
			<p class="contato-info" ng-if="idUsuario==usuario.uid">Mantenha os dados abaixo atualizados para que potenciais clientes possam entrar em contato com você.</p>
			
			<label>Número para contato (obrigatório)</label>
			<input type="text" maxlength="20" ng-model="contato.telefone"  ng-disabled="idUsuario!==usuario.uid" required>
			
			<label>Endereço (opcional)</label>
			<input type="text" maxlength="200" ng-model="contato.endereco" ng-disabled="idUsuario!==usuario.uid">

			<label>Fale um pouco sobre você</label>
			<textarea rows="4" maxlength="600" ng-model="contato.sobre" ng-disabled="idUsuario!==usuario.uid"></textarea>

			<p class="contato-aviso" ng-if="idUsuario==usuario.uid">Somente pessoas logadas podem ver seus dados.</p>

			<button ng-click="salvar()" ng-if="idUsuario==usuario.uid" class="edit-btn-salvar">
				Salvar
			</button>

		</form>
	</div>
</div>