<!DOCTYPE html>
<html>
<head>
	<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="app/app_ipua.js"></script>
	<script type="text/javascript" src="app/loading/service/loadingservice.js"></script>
	<script type="text/javascript" src="app/loading/directive/loadingdirective.js"></script>
	<script type="text/javascript" src="app/cardapio/controller/cardapiocontroller.js"></script>
	<script type="text/javascript" src="app/cardapio/directive/itemcard.js"></script>
	<script type="text/javascript" src="app/cardapio/directive/loadingItem.js"></script>
	<script type="text/javascript" src="app/cardapio/service/cardapioService.js"></script>
	<script type="text/javascript" src="app/item/controller/itemcontroller.js"></script>
	<script type="text/javascript" src="app/item/directive/itemDirective.js"></script>
	<script type="text/javascript" src="app/item/service/itemService.js"></script>
	<script type="text/javascript" src="app/contato/controller/contatocontroller.js"></script>
	<script type="text/javascript" src="app/contato/service/contatoservice.js"></script>
	<script type="text/javascript" src="app/globalconfig.js"></script>
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/ring.css">
	<link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body ng-app="app08" ng-controller="mainCtrl">

	<!-- Header -->
	<header class="header">

		<!-- Top Header -->
		<div class="top-header">

			<div class="filter-btn" ng-click="toggleFiltro()" ng-show="telaCorrente=='cardapio'">
				<i class="fa fa-search fa-2x"></i>
			</div>

			<!-- Logo principal -->
			<img src="assets/img/logo_small.png" class="logo">
			<img class="img-usuario" src="{{usuario.img}}" ng-show="telaCorrente!=='cardapio' && usuario.uid">

			<!-- Menu Hamburger -->
			<div class="menu-btn" ng-click="btnMenu()">
				<div id="nav-icon3" ng-class="{'open': menuAtivo}">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<!-- Fim Menu -->
		</div>

		<!-- Menu do header -->
		<div class="main-header" ng-show="menuAtivo">
			<div><a ng-click="login()" ng-if="!usuario.uid">Login</a></div>
			<div><a ui-sref="home">Cardápio</a></div>
			<div><a ng-if="usuario.uid" ui-sref="novoItem">Novo item</a></div>
			<div><a ui-sref="itemUsuario({userId:usuario.uid})" ng-if="usuario.uid">Meus itens</a></div>
			<div><a ui-sref="contato({userId:usuario.uid})" ng-if="usuario.uid">Meus dados</a></div>
			<div><a ng-if="usuario.uid" ng-click="logoff()">({{usuario.nome}}) Sair</a></div>
		</div>

		<!-- Mensagem de erro -->
		<div class="error-header" ng-show="erroAtivo">
			<p>{{mensagemErro}}</p>
			<span ng-click="fecharErro()">x</span>
		</div>
	</header>

	<!-- Conteudo principal -->
	<div class="main-content">
		<div class="loading-box" ng-show="loading"><img src="assets/img/loading.jpg"></div>
		<ui-view></ui-view>
	</div>

</body>
</html>