header.header{
	height: 50px;
	background: #ff4700;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	z-index: 999999;
}

.main-content{
	display: block;
	margin-top: 40px;
	position: relative;
}

.item-container{
	display: block;
	background: #f5f5f5;
}

.item-container .item{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 25px;
	height: 420px;
	width: 94%;
	background: #fff;
	border: #ccc solid 1px;
	border-bottom: solid #ff4700 5px;
	border-radius: 2px;
	position: relative;
}

.item-container .item-imagem img{
	width: 100%;
	display: block;
}

.item-content h4{
	position: absolute;
	bottom: 120px;
	left: 20px;
	color: #ff4700;
}

.item-content .item-data{
	position: absolute;
	bottom: 120px;
	right: 20px;
}

.item-content .center{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 70px;
	text-align: center;
}

.item-rating{
	background: #ff4700;
	border-radius: 50%;
	color: #fff;
	position: relative;
	width: 25px;
	height: 25px;
	line-height: 21px;
	text-align: center;
	display: block;
	margin: 0 auto;
	top: 13px;
}