<!-- <div class="filtro">
	<div class="filtro-categoria">
		<label for="categoria">Categoria</label>
		<select ng-model="categoria" ng-options="c.name as c.name for c in categoriasOpt" ng-required="true" ng-change="filtrar()" id="categoria">
			<option value="">Todos</option>
		</select>
	</div>
	<div class="filtro-ordenar">
		<span>Ordenar</span>
		<select ng-model="ordem" ng-options="o.value as o.name for o in ordemOpt" ng-required="true" ng-change="filtrar()">
		</select>
	</div>
</div> -->

<div class="item-container">
	<div class="item" ng-repeat="i in itens" ui-sref="visualizarItem({itemId:i.id})">
		<div class="item-imagem">
			<img src="{{i.imagem}}">
		</div>
		<div class="item-content">
			<h4>{{i.titulo}}</h4>
			<span class="item-data">{{i.data}}</span>
			<div class="center">
				<p>Postado por <span>{{i.usuario.name}}</span></p>
				<p>R${{i.price}}</p>
				<span class="item-rating">{{i.rating}}</span>
			</div>
		</div>
	</div>
</div>

<!-- <div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone" ng-repeat="i in itens">
		<div class="mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">{{i.titulo}}</h2>
			</div>
			<div class="mdl-card__media">
				<img src="{{i.imagem}}" width="173" height="157" border="0" alt="" style="padding:10px;">
			</div>
			<div class="mdl-card__supporting-text">
				{{i.descricao}}
				<p>R${{i.price}}</p>
			</div>
			<div class="mdl-card__actions">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--6-col">
						<a ui-sref="editarItem({itemId:i.id})">Visualizar</a>
					</div>
					<div class="mdl-cell mdl-cell--6-col">
						<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="up(i.id,i.categoria,i.rating)">
							<i class="material-icons">star rate</i>
						</button>
						<span>({{i.rating}})</span>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<p>Postado por <span>{{i.usuario.name}}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<loading-item></loading-item>
</div> -->