<div class="item-container">
	<div class="item" ng-repeat="i in itens" ui-sref="visualizarItem({itemId:i.id})">
		<div class="item-imagem">
			<img src="{{i.imagem}}">
		</div>
		<div class="item-content">
			<h4>{{i.titulo}}</h4>
			<span class="item-data">{{i.data}}</span>
			<div class="center">
				<p>Postado por <span>{{i.usuario.name}}</span></p>
				<p>R${{i.price}}</p>
			</div>
		</div>
		<span class="item-rating">{{i.rating}}<i class="fa fa-eye fa-1x"></i></span>
	</div>
</div>

<div class='uil-ring-css' ng-show="!fimItens" style='transform:scale(0.6);'><div></div></div>

<div class="contato-footer" ng-class="{'expand':expandeInfo}">
	<img  class="contato-imagem" src="{{usuarioVisualizar.imagem}}">
	<p class="contato-nome">Postagens de {{usuarioVisualizar.nome}}</p>
	<i class="contato-expandir fa fa-plus fa-2x" ng-class="{'fa-minus':expandeInfo}" ng-click="expandeInfoUsuario()"></i>
	<p class="contato-telefone" ng-show="expandeInfo">{{usuarioVisualizar.telefone}}</p>
	<p class="contato-endereco" ng-show="expandeInfo">{{usuarioVisualizar.endereco}}</p>
	<p class="contato-sobre" ng-show="expandeInfo">{{usuarioVisualizar.sobre}}</p>
</div>