<div class="item-edit-container">
	<div class="item-visualizar">

		<div class="item-imagem">
			<img src={{item.imagem}}>
			<span class="imagem-data">12/08/2017</span>
		</div>

		<div class="item-dados">
			<h4>{{item.titulo}}</h4>
			<span>{{item.rating}} visualizações</span>
			<p>{{item.descricao}}</p>
		</div>

		<div class="item-postagem">
			<span class="item-user" ui-sref="itemUsuario({userId:item.usuario.id})">Postado por {{item.usuario.name}}</span>
			<span class="item-preco">R$ {{item.price}}</span>
		</div>

		<div class="item-contato">
			<p>(11) 99999-9999</p>
		</div>

		<div class="item-comentarios">
			
		</div>

		<button ng-click="excluir()" class="edit-btn-excluir" ng-if="item.usuario.id == usuario.uid">
			Excluir
		</button>

		<button ui-sref="editarItem({itemId:itemId})" class="edit-btn-salvar" ng-if="item.usuario.id == usuario.uid">
			Editar
		</button>


<!-- 
		<div class="item-input">
			<label>Titulo</label>
			<input ng-model="item.titulo" class="" type="text">
			<label>Preço</label>
			<input ng-model="item.price" class="" type="number">
			<label>Descrição</label>
			<textarea ng-model="item.descricao" class="" type="text" rows= "3"></textarea>
		</div>

		<select ng-model="item.categoria" class="item-categoria" ng-options="c.name as c.name for c in categoriasOpt" ng-required="true">
			<option value="">Selecione as categorias</option>
		</select>

		<div class="item-seleciona-imagem" ng-click="selecionaImagem()">
			<img id="imagemItem" src="assets/img/camera.png">
			<span>{{msgUpload}}</span>
		</div>
		
		<input type="file" style="display:none" data-file="item.imagem" id="btnSelecionarImg"/>

		<button ng-click="excluir()" class="edit-btn-excluir">
			Excluir
		</button>

		<button ng-click="salvar()" class="edit-btn-salvar">
			Salvar
		</button> -->

	</div>
</div>