<div class="item-edit-container">
	<div class="item-visualizar">

		<div class="item-imagem">
			<img src={{item.imagem}}>
			<span class="imagem-data">{{item.data}}</span>
		</div>

		<div class="item-dados">
			<h4>{{item.titulo}}</h4>
			<span>{{item.rating}} visualizações</span>
			<p>{{item.descricao}}</p>
		</div>

		<div class="item-postagem">
			<span class="item-user" ui-sref="itemUsuario({userId:item.usuario.id})">Postado por {{item.usuario.name}}</span>
			<span class="item-preco">R$ {{item.price}}</span>
		</div>

		<div class="item-contato">
			<p ng-show="!usuario.uid">Faça login para entrar em contato</p>
			<p ng-show="usuario.uid">{{item.contato}}</p>
		</div>

		<div class="box-comentarios">
			<h4>Comentários</h4>
			<div class="item-comentario" ng-repeat="comentario in comentarios">
				<p>{{comentario.comentario}}</p>
				<span>{{comentario.data}}</span>
				<span>{{comentario.usuario}}</span>
				<!-- Opção de excluir somente para comentários de usuários logados -->
				<i class="fa fa-2x fa-trash-o excluir" ng-show="comentario.usuarioId == usuario.uid" ng-click="excluirComentario(comentario.id)" aria-hidden="true"></i>
			</div>
			<h5 ng-if="!usuario.uid">Faça Login para comentar</h5>
			<div class="item-comentar" ng-if="usuario.uid">
				<h5>Comentar</h5>
				<!-- Dentro de ng-if esta em outros escopo, portanto usa $parent -->
				<textarea ng-model="$parent.novocomentario" rows="5"></textarea>
				<button class="edit-btn-salvar" ng-click="comentar()">
					Comentar
				</button>
			</div>
		</div>

		<button ng-click="excluir()" class="edit-btn-excluir" ng-if="item.usuario.id == usuario.uid">
			Excluir
		</button>

		<button ui-sref="editarItem({itemId:itemId})" class="edit-btn-salvar" ng-if="item.usuario.id == usuario.uid">
			Editar
		</button>

	</div>
</div>